
@{
    ViewBag.Title = "Add_to_fav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w3-container w3-padding-64">
    <center>
        <img src="~/Content/images/loading.gif" height="150px" width="150px" />
        <br />
        <h5>Product Added to Favorite List</h5>
        <script>window.location="/Home"</script>
    </center>
</div>

