@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="conatiner">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <center>@ViewBag.error</center>
        </div>
     </div>
</div>