
@{
    ViewBag.Title = "Progressing....";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container w3-padding-64">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center><img src="~/img/loading.gif"/></center>
            <center><h5>Process Successfully Completed...</h5></center>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>