
@{
    ViewBag.Title = "assign_room_to_minds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center><img src="~/Content/images/loading.gif" height="200px"></center>
<h2><center>@Html.Encode(ViewBag.msg)</center></h2>
<script>window.location="/Home/Rooms"</script>