<app-header></app-header>
<div class="container w3-padding-64">
  <div class="row  w3-padding-64">
    <div class="col-md-4">
      <div class="w3-green w3-padding w3-center">
        <img src="../../assets/user-1.png" width="60%"/>
      </div>
      <button class="w3-block w3-blue w3-btn" routerLink="/Admin/UserManagement" >User Management</button>
    </div>
    <div class="col-md-4">
        <div class="w3-dark-gray w3-padding w3-center">
            <img src="../../assets/location1.png" width="60%"/>
        </div>
        <button class="w3-block w3-blue w3-btn" routerLink="/Admin/Location" >Location Management</button>
    </div>
    <div class="col-md-4">
        <div class="w3-yellow w3-padding w3-center">
            <img src="../../assets/feedback.png" width="60%"/>
        </div>
        <button class="w3-block w3-blue w3-btn" routerLink="/Admin/FeedbackManagement" >Feedback Management</button>
    </div>
  </div>  
</div>  
<app-footer></app-footer>