<div class="w3-container w3-blue w3-padding-32" style="text-align:center">
  <div class="row">
     <div class="col-md-4">
       <a routerLink="" style="color:white"><img src="../../assets/racing.png" height="50px"/><b>TrueRider</b></a>
     </div>
     <div class="col-md-4">
       <b>TrueRider</b><br/>
       All Rights Reserved @ 2018
     </div>
     <div class="col-md-4">
         
        <img src="../../assets/facebook-logo.png" height="30px"/>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <img src="../../assets/instagram.png" height="35px"/>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <img src="../../assets/twitter-logo.png" height="35px"/>
     </div>
  </div>  
</div>

