 <div id="mainBody">
<router-outlet></router-outlet>
<div class="w3-modal" id="loading_div">
    <div class="container w3-padding-128" style="text-align:center">
    <img src="../../assets/loading.gif" height="200px"/>
    <br/>
    <h4 class="w3-text-white" id="loading_text"></h4>
    </div>    
</div>    
<div class="w3-modal" id="msg_modal">
    <div class="container">
     <div class="row">
       <div class="col-md-4"></div>
       <div class="col-md-4 w3-round">
           <h6 class="w3-padding w3-blue w3-center"><img src="../../assets/loading.gif"  height="20px"/>Message Box</h6>
           <div class="w3-card-4 w3-white w3-center" style="margin-top:-10px;padding:10px" id="msg_container">
    
           </div>   
       </div>
       <div class="col-md-4"></div>
     </div> 
    </div>    
    </div> 
 </div>   