
<app-header></app-header>
<div class="conatiner">
 
  <div class="row w3-padding-32">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <div class="w3-card-4 w3-round-large  ">
        <div class="card-header w3-blue">
          <div class="container ">
            <h5>Add  or Edit Location</h5>
          </div>
        </div>
        <div class="card-body">

          <form #LocationForm="ngForm" (ngSubmit)="addCity(LocationForm)">
              <div class="form-group row">
                  <div class="col-sm-8">
                    <input type="number" class="form-control" [hidden]="true" name="Id" #Pincode="ngModel" [(ngModel)]="location.Id" id="Id" placeholder="Pin" />
                  </div>
                </div>
            <div class="form-group row">
              <label for="Pincode" class="col-sm-4 col-form-label">Pin</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="Pincode" #Pincode="ngModel" [(ngModel)]="location.Pincode" id="Pincode"
                 placeholder="Pin"required [class.is-invalid]="Pincode.invalid && Pincode.dirty"
                  minlength="6" maxlength="6" pattern="^[1-9][0-9]{5}"/>
                
                <div class="validation-error" style="text-align:center" *ngIf="(Pincode.invalid && Pincode.dirty)">
                <span style="color:red;font-size:13px">Please enter valid Pin Number.</span></div> 
              </div>
            </div>

            <div class="form-group row">
              <label for="Area" class="col-sm-4 col-form-label">Area</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="Area" #Area="ngModel" [(ngModel)]="location.Area" id="Area" placeholder="Area" required [class.is-invalid]="Area.invalid && Area.dirty" minlength="5" maxlength="200"
                pattern="^[A-Za-z]{1}[ A-Za-z0-9]{0,100}$"/>

                <div class="validation-error" *ngIf="(Area.invalid && Area.dirty)">
                <span style="color:red;font-size:13px">&nbsp;&nbsp;Please enter valid Area name.</span></div> 
              </div>
            </div>

            <div class="form-group row">
              <label for="Town" class="col-sm-4 col-form-label">Town</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="Town" #Town="ngModel" [(ngModel)]="location.Town" id="Town" placeholder="Town" required [class.is-invalid]="Town.invalid && Town.dirty" minlength="3" maxlength="25"
                pattern="^[A-Za-z]{1}[ A-Za-z]{0,100}$"/>
                
                <div class="validation-error" style="text-align:center" 
                *ngIf="(Town.invalid && Town.dirty)">
                <span style="color:red;font-size:13px">Please enter valid Town name.</span></div>
              </div>
            </div>

            <div class="form-group row">
              <label for="District" class="col-sm-4 col-form-label">District</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="District" #District="ngModel" [(ngModel)]="location.District" id="District"
                  placeholder="District" required [class.is-invalid]="District.invalid && District.dirty"
                  minlength="3" maxlength="17" pattern="^[A-Za-z]{1}[ A-Za-z]{0,100}$"/>
                  
                  <div class="validation-error" style="text-align:center" 
                  *ngIf="(District.invalid && District.dirty)">
                  <span style="color:red;font-size:13px">Please enter valid District Name.</span></div> 
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                  <div class="col-auto">
                      <button type="submit" [disabled]="!LocationForm.valid" class="w3-btn w3-pink btn-sm mb-2">Add</button>
                    </div>
              </div>
              <div class="col-sm-4"> </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="w3-card-4 w3-round-large ">
        <div class="card-header w3-blue">
          <div class="container">
            <h5>View</h5>
          </div>
        </div>
        <div class="card-body">
          <div class="card-title">
            <div class="container">
              <div class="row" *ngIf="isSearched">
                <div class="col-sm-12 col-sm-offset-3">
                  <form class="search-form row" #locationSearch="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-group has-feedback col-sm-9">
                      <label for="search" class="sr-only">Search</label>

                      <input (input)="LocationInput()" autocomplete="off" type="text" required
                        #startPointLocationId="ngModel" class="form-control" name="search"
                      [(ngModel)]="searchLocationInput"  id="search" placeholder="Search...">
                      <div style="position:absolute;z-index:100;width:98%">
                          <div id="startLocation_result" class="w3-card-4"> 
                              <div class="autocomplete-items" *ngFor="let chars of startLocation">
                                  <div class="form-control" (click)="setStartLocation(chars.Id,chars.Area,chars.Town)">
                                      <a style="background-color: white">{{chars.Area+" , "+chars.Town+" , "+chars.District}}</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                    <div class="col-sm-3">
                      <button type="submit" [disabled]="isStartSearch" class="w3-btn w3-pink w3-round">Search</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          

          
          <table id="mytable" class="table table-bordred table-striped" *ngIf="isSearched">

            <thead>

              <th>
                <h5>Pin </h5>
              </th>
              <th>
                <h5>Area</h5>
              </th>
              <th>
                <h5>Town</h5>
              </th>
              <th>
                <h5>District</h5>
              </th>

              <th>
                <h5>Edit</h5>
              </th>

              <th>
                <h5>Delete</h5>
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let city of fewCities">
                <td>
                  <h6>{{city.Pincode}}</h6>
                </td>
                <td>
                  <h6>{{city.Area}}</h6>
                </td>
                <td>
                  <h6>{{city.Town}}</h6>
                </td>
                <td>
                  <h6>{{city.District}}</h6>
                </td>
                <td> <a class="btn text-info" (click)="updateCity(city)"> <i class="fa fa-pencil-square-o"></i></a></td>
                <td><a class="btn text-danger"  (click)="deleteeCity(city.Id)"> <i class="fa fa-trash-o"></i></a></td>
              </tr>
            </tbody>

          </table>

          <div *ngIf="!isSearched">
              <div class="w3-card-4 w3-padding-24">
                  <div class="row">
                      <div class="col-sm-2"><b>Area:            {{resultLocation[0].Area}}</b></div>
                      <div class="col-sm-2"><b>Town:            {{resultLocation[0].Town}}</b></div>
                      <div class="col-sm-2"><b>District:        {{resultLocation[0].District}}</b></div>
                      <div class="col-sm-2"><b>Pincode:         {{resultLocation[0].Pincode}}</b></div>
                      <div class="col-sm-1"><a class="btn text-info" (click)="updateCity(resultLocation[0])"> <i class="fa fa-pencil-square-o"></i></a></div>
                      <div class="col-sm-1"><a class="btn text-danger"  (click)="deleteeCity(city.Id)"> <i class="fa fa-trash-o"></i></a></div>
                      <div class="col-sm-2"><button class="w3-btn w3-blue w3-round" (click)="onViewAll()">View All</button></div>
                    </div>
              </div>
            </div>

          <nav aria-label="Page navigation example " *ngIf="isSearched">
            <ul class="pagination justify-content-center">
              <li class="page-item ">
                <button class="w3-btn w3-pink"  [disabled]="isPrevious" (click)="previous()">Previous</button> &nbsp;
              </li>
              <li class="page-item ">
                <button class="w3-btn w3-blue" [disabled]="isNext" (click)="next()"> Next </button>
              </li>
            </ul>
          </nav>
          
          <div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<app-footer></app-footer>
