
@{
    ViewBag.Title = "Add_preference";
}

<center><h2>@Html.Encode(ViewBag.msg)</h2></center>
<script>
setTimeout(function () {
       window.location.href = "/Home/Index"; //will redirect to your blog page (an ex: blog.html)
    }, 2000);
</script>