@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    ADD DATA
                </div>
                <div class="panel-body">
                    <form method="POST" action="/Home/storeData">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="Dataname" class="form-control" placeholder="Enter the Name..." />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">ADD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>Operations</th>
                </tr>
                @foreach (var i in ViewBag.list) {
                    <tr>
                        <td>@Html.Encode(i.id)</td>
                        <td>@Html.Encode(i.name)</td>
                        <td><a href="/Home/Edit/@Html.Encode(i.id)">Edit</a> || <a href="/Home/Delete/@Html.Encode(i.id)">Delete</a></td>
                    </tr>
                }
           </table>
        </div>
      </div>
</div>